@import "base/_reset";

@import "./break";
@import "./base/fonts";

html {
    font-size: 62.5%;
}

section {
    background-color: white;
    min-height: 100vh;
    z-index: 2;
    position: relative;
}

.splash {
    background-color: lightcyan;
    z-index: 0;
}

#title {
    width: 100%;
    top: calc(50vh - .5em);
    position: fixed;
    text-align: center;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 10rem;
    color: rgba(0,0,0,.87);
}

body {
    font-size: 2rem;
}
