@import "base/_reset";

@import "./anim.scss";
@import "./break";
@import "./base/fonts";

html {
    font-size: 62.5%;
}

h1 {
    text-align: center;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 10rem;
}

section {
    width: 100%;
    background-color: white;
    min-height: 100vh;
    z-index: 2;
    position: relative;
}

.booster {
    height: 100vh;
}

.splash {
    background-color: black;
    z-index: 0;
    position: fixed;

    h1 {
        color: rgba(255,255,255,.9);
        position: relative;
        top: calc(45vh - .5em);
    }
}

.nut {

    position: absolute;

    left: 0;
    right: 0;
    margin: auto;

    // bottom width/top width = .813828

    &.top {
        height: 40%;
    }

    &.bottom {
        width: 40%;
    }
}

body {
    font-size: 2rem;
}
